header#banner.hero-unit
  .container
    h1 Auth API
    p.lead Authentication & Authorization service

.container
  .row
    .col-sm-6.col-md-4(ng-repeat="section in vm.sections")
      .thumbnail(ui-sref='{{section.state}}')
        span(ng-class="'{{section.icon}}'")
        .caption
          h3 {{ section.title }}
          p {{ section.description }}

