.container
  h1 Add operation
  .row
    h3 Contacts
    table.table
      thead
      th Name
      tbody
        tr
          td test1

    form(ng-submit='operationAdd.onSubmit()')
      formly-form(model='vm.operation' fields='vm.operationFields')
        button.btn.btn-default(type='submit') Submit
