.container
  div(error-widget)

  h1 Add operation

  table.table.table-hover
    thead
    th Counteragent
    tbody
      tr(ng-repeat='item in vm.data.contacts track by item.id')
        td(ng-click='vm.selectContact(item)' ng-class='{"active": item === vm.data.selectedContact}') {{item.counterAgent.name}}

  form(ng-submit='vm.onSubmit()' name='vm.addOperationForm')
    formly-form(model='vm.data' fields='vm.fields')
      button.btn.btn-default(type='submit' ng-disabled='vm.addOperationForm.$invalid || vm.submitDisabled()') Submit

