section(error-widget)

d-buttons(buttons='vm.buttons')

h1 My contacts

// TODO: show if contact is deleted by counter-agent
table.table.table-hover.table-striped(cg-busy='vm.busy')
  thead
    th Name
  tbody
    tr(ng-repeat='contact in vm.contacts track by contact.id' ui-sref='^.info({id: contact.id})')
      td {{contact.counterAgent.name}}
