section(error-widget)

.buttons
  button.pull-right.btn.btn-primary(
    ng-repeat='b in vm.buttons track by b.name'
    type='button'
    ui-sref='{{b.sref}}'
  )
    | {{b.name}}

h1 My contacts

table.table
  thead
  th Name
  tbody
    tr(ng-repeat='contact in vm.contacts track by contact.id')
      td {{contact.counterAgent.name}}
