.container
  .row
    .col-sm-12
      div(d-buttons buttons='vm.buttons')
      h1 My account
    .col-sm-12
      form.clearfix(name='vm.accountForm' role='form' novalidate='' ng-submit='vm.onSubmit(vm.accountForm)' cg-busy='vm.busy')
        formly-form(model='vm.account' fields='vm.fields')
          .buttons.pull-right(ng-if='vm.accountForm.$dirty')
            button.btn.btn-primary(
            type='submit'
            ng-disabled='vm.accountForm.$invalid'
            )
              | Save
            = ' '
            button.btn.btn-warning(
            type='button'
            ng-click='vm.onCancel(vm.accountForm)'
            )
              | Cancel changes

      h3 Account
      pre {{vm.account | json}}

      h3 ProviderAccounts
      pre {{vm.providerAccounts | json}}
