h1 My invites

table.table.table-striped(cg-busy='vm.busy')
  thead
    th Status
    th Code
    th Acceptor
  tbody
    tr(ng-repeat='invite in vm.invites track by invite.id')
      td {{invite.status}}
      td
        a(ui-sref='debt.invite.info({id: invite.id})') {{invite.code}}
      td {{invite.acceptor.name || 'Not accepted yet'}}
