section(error-widget)

div(d-buttons buttons='vm.buttons' busy='vm.busy')

h1 Created invite

form(name='vm.inviteInfoForm' novalidate='' cg-busy='vm.busy')
  formly-form(model='vm.data' fields='vm.fields')
    .buttons.pull-right
      button.btn.btn-default(ng-click='vm.sms()')
        | Send in SMS
      button.btn.btn-default(ng-click='vm.emailInvite()')
        | Email invite
      button.btn(ngclipboard ngclipboard-success='vm.onSuccess(e);' data-clipboard-target="{{vm.copyTarget}}")
        | Copy code
