.buttons
  button.pull-right.btn.btn-warning(type='button' ng-disabled='vm.disableDeleteInvite()' ng-click='vm.deleteInvite()')
    | Delete invite

h1 Created invite

form(name='vm.inviteInfoForm')
  formly-form(model='vm.data' fields='vm.fields')
    .buttons.pull-right
      button.btn(ngclipboard ngclipboard-success='vm.onSuccess(e);' data-clipboard-target="{{vm.copyTarget}}")
        | Copy code
