.container
  h1 Provider Apps

  table.table.table-striped.table-hover.table-responsive(
  ng-table='vm.ngTableParams'
  )
    tr.clickable(
    ng-repeat='row in $data track by row.id'
    ui-sref='auth.providerAccounts({providerId: row.id})'
    )
      td(data-title="'Name'")
        | {{row.name}}
      td(data-title="'Provider'")
        | {{row.provider}}
      td(data-title="'Code'")
        | {{row.code}}
      td(data-title="'Client ID'" ng-if="true")
        | {{row.clientId}}
      td(data-title="'Client Secret'" ng-if="true")
        | {{row.clientSecret}}
