//TODO move error widget to parent state
section(error-widget)

.buttons
  button.pull-right.btn.btn-primary(
  ng-repeat='b in vm.buttons track by b.name'
  type='button'
  ng-click='b.fn()'
  )
    | {{b.name}}

h1 Contact info

// TODO: show if the contact is not of current agent
form(name='vm.contactInfoForm' cg-busy='vm.busy')
  formly-form(model='vm.contact' fields='vm.fields')

