$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin';
@import 'domain/agent/agent';
@import 'domain/main/main';
@import 'domain/operation/add/operationAdd';
@import 'domain/operation/operation';
@import 'styles/animation';
@import 'styles/colors';
@import 'styles/data';
@import 'styles/layout';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
// endinjector
