.input-group
  .input-group-btn(uib-dropdown is-open='vm.isOpen')
    button.btn.btn-default(
      type='button'
      uib-dropdown-toggle
    ) {{dSelectModel[dLabelProp]}}
      = ' '
      span.caret
    ul.dropdown-menu
      li(ng-repeat='item in dSelectOptions')
        a(href='' ng-click='vm.setActiveItem(item)') {{item[dLabelProp]}}
  input.form-control(ng-model='dInputModel' type='number' ng-required='required')
