h1 Social network friends

ul(cg-busy='vm.busy')
  li(ng-repeat='friend in vm.friends track by friend.id') {{friend.name}}
    span
      = ''
      button.btn.btn-primary(type='button' ng-click='vm.inviteSocialFriend(friend)' ng-show='vm.showInviteButton(friend)') Invite
      button.btn.btn-primary(type='button' ng-show='vm.showWaitingButton(friend)') Waiting
