h1 Social network friends

table.table(cg-busy='vm.busy')
  thead
    th Name
    th Status
  tbody
    tr(ng-repeat='friend in vm.friends track by friend.id')
      td {{friend.name}}
      td
        button.btn.btn-primary(type='button' title='Accept the invite' ng-click='vm.inviteSocialFriend(friend)' ng-show='vm.showInviteButton(friend)') Invite
        span.fa.fa-hourglass-half(title='Waiting for confirm' ng-show='vm.showWaitingButton(friend)')

