.navbar-text {
  margin-left: 15px;
}


.table-hover tr {
  cursor: pointer;
}

.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.chapter-menu {
  margin-top: 60px;
}

.chapter-menu > * {
  margin-top: 10px;
}

.container {

  h1 {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .buttons {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  form .buttons {
    margin-bottom: 40px;
  }

}

.clear-both {
  clear: both;
}

.buttons {
  .btn {
    margin-left: 10px;
  }
}

.alert .close {
  top: -3px;
  position: relative;
}
