.navbar-text {
  margin-left: 15px;
}


.table-hover tr {
  cursor: pointer;
}

.display-flex {
  display: flex;
  display: -webkit-flex;
}

.flex-1 {
  flex: 1;
  -webkit-flex: 1;
}

.chapter-menu {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .chapter-menu {
    margin-top: 10px;
  }
}

.chapter-menu > * {
  margin-top: 10px;
}

.container {

  h1 {
    margin: {
      top: 20px;
      bottom: 20px;
    }
  }

  h3.pull-left ~ .buttons.pull-right {
    margin: {
      top: 20px;
      bottom: 20px;
    }
  }

  form .buttons {
    margin-bottom: 40px;
  }

}

.clear-both {
  clear: both;
}

.buttons {
  .btn {
    margin-left: 10px;
  }
}

.alert .close {
  top: -3px;
  position: relative;
}

.input-group-btn .btn.dropdown-toggle {
  padding-bottom: 7px;
}

a h3.caption {
  margin-top: 0;
  margin-bottom: 5px;
}

a.thumbnail {
  &:hover, &:focus, & {
    text-decoration: none;
  }
  .caption {
    color: inherit;
  }
}
