
.row
  .input-group
    .input-group-btn
      button.btn.btn-default.dropdown-toggle(
        type='button'
        data-toggle='dropdown'
        aria-haspopup='true'
        aria-expanded='false'
      )
