.container
  h1 Organizations

  table.table.table-striped.table-hover.table-responsive(
  ng-table='vm.ngTableParams'
  )
    tr.clickable(
    ng-repeat='row in $data track by row.id'
    ui-sref='auth.orgInfo({orgId: row.id})'
    )
      td(title="'Name'")
        | {{row.name}}
      td(title="'Logo'")
        img(ng-src="row.logo")

  button.btn.btn-default(ui-sref='^.orgCreate') Create organization
