section(error-widget)

// TODO: add decline and delete buttons
div(d-buttons buttons='vm.buttons')

h1 Operation info

form(name='vm.operationInfoForm')
  formly-form(model='vm.model' fields='vm.fields')
