section(error-widget)

.d-buttons(buttons='vm.buttons' busy='vm.busy')

h1 Operation info

form(name='vm.operationInfoForm' novalidate='' cg-busy='vm.busy')
  formly-form(model='vm.model' fields='vm.fields')
