h5 Create app

.col-sm-12
  form.clearfix(name='vm.appCreateForm' role='form' novalidate='' ng-submit='vm.onSubmit(vm.orgCreateForm)')
    formly-form(model='vm.app' fields='vm.fields')
      .buttons.pull-right(ng-if='vm.orgCreateForm.$dirty')
        button.btn.btn-primary(
        type='submit'
        ng-disabled='vm.appCreateForm.$invalid'
        )
          | Save
        = ' '
        button.btn.btn-warning(
        type='button'
        ng-click='vm.onCancel(vm.appCreateForm)'
        )
          | Cancel changes



button.btn.btn-default(ng-click='vm.increment()') Increment
button.btn.btn-default(ng-click='vm.decrement()') Decrement

pre {{vm.counter}}
