section
  h3 Set org roles

  ui-select(ng-model='vm.selectedRoles' multiple)
    ui-select-match(placeholder='Select roles...')
      span(ng-bind='$item.name')
    ui-select-choices(
      repeat='item in vm.roles | filter:$select.search track by item.id'
      refresh='refreshRoles($select.search)'
      refresh-delay="0"
    )
      span(ng-bind='item.name')
