.container
  h1 My agents
  .buttons
    button.pull-right.btn.btn-primary(type='button' ng-disabled='vm.disableAddAgent()' ng-click='vm.onAdd()') Add agent

  .section(ng-repeat='agent in vm.agents track by agent.id')
    h3 {{agent.name || 'New agent'}}
    form(ng-submit='vm.onSubmit(agent,"form" + $index)' name='vm.form{{$index}}')
      formly-form(model='agent' fields='vm.fields')
        .buttons(ng-show='vm["form" + $index].$dirty || !agent.id')
          button.btn.btn-success(type='submit') Save
          button.btn.btn-warning(type='button' ng-click='vm.onCancel(agent,"form" + $index)') Cancel
    hr
