section
  section
    h2.pull-left {{vm.org.name}}
    .buttons.pull-right
      button.btn.btn-danger.btn-sm(ng-click='vm.deleteClick()' ng-show='vm.isOrgAdmin') Delete

  h3.clear-both Apps

  table.table.table-striped.table-hover.table-responsive(ng-table='vm.orgAppsNgTable' cg-busy='vm.orgAppsNgTableCtrl.busy')
    tbody
      tr(ng-repeat='row in $data track by row.id')
        td(data-title="'Id'") {{ row.id }}
        td(data-title="'Url'")
          a(href='{{row.app.url}}') {{ row.app.url }}
        td(data-title="'Last Timestamp'") {{ row.ts | amCalendar }}

  h3.clear-both Accounts

  table.table.table-striped.table-hover.table-responsive(ng-table='vm.orgAccountsNgTable' cg-busy='vm.orgAccountsNgTableCtrl.busy')
    tbody
      tr(ng-repeat='row in $data track by row.id')
        td(data-title="'Name'") {{ row.name }}
        td(data-title="'Last Timestamp'") {{ row.ts | amCalendar }}

  h3.clear-both Providers Apps

  table.table.table-striped.table-hover.table-responsive(ng-table='vm.orgProviderAppsNgTable' cg-busy='vm.orgProviderAppsNgTableCtrl.busy')
    tbody
      tr(ng-repeat='row in $data track by row.id')
        td(data-title="'Provider'") {{ row.providerApp.provider }}
        td(data-title="'Name'") {{ row.providerApp.name }}
        td(data-title="'Last Timestamp'") {{ row.ts | amCalendar }}

